<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Style Sheet Section -->
    @Styles.Render("~/Content/css")
</head>
<body>
    
            <!--/span-->
            <div class="span9">
                <div class="row-fluid">
                    <br />
                    @RenderBody()
                </div>
            </div>
            <!--/span-->
        
    <!-- <span class="hiddenSpellError" pre="">javascript</span> Section -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", required: false)
</body>
</html>
